:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  color: var(--black);

}

body {
  background: linear-gradient(110deg, #c33764, #1d2671);
  min-height: calc(100vh - 100px);
  margin: 50px;
  font-size: 15px;
}


button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}